{% extends 'layout.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block price_target %}{{ price_target }}{% endblock %}
{% block content_link %}
    <li><a href="{{ base_url() }}/{{ prefecture }}">{{ prefecture }}</a></li>
    <li><a href="{{ base_url() }}/{{ prefecture }}/{{ city }}">{{ city }}</a></li>
{% endblock %}

{% block mapArea %}
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="map-card">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <div id="map-canvas"></div>
                    </div>
                    <div class="card-content">
                        <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
                            <i class="mdi-maps-pin-drop"></i>
                        </a>
                        <h4 class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">{{ prefecture }}/{{ city }}</a>
                        </h4>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Company Name LLC <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this company. As a creative studio we believe no client is too big nor too small to work with us to obtain good advantage.By combining the creativity of artists with the precision of engineers we develop custom solutions that achieve results.Some more information about this company.</p>
                        <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Manager Name</p>
                        <p><i class="mdi-communication-business cyan-text text-darken-2"></i> 125, ABC Street, New Yourk, USA</p>
                        <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> +1 (612) 222 8989</p>
                        <p><i class="mdi-communication-email cyan-text text-darken-2"></i> support@geekslabs.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ base_url() }}/js/city.js"></script>
{% endblock %}