{% extends 'layout.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block price_target %}{{ price_target }}{% endblock %}
{% block content_link %}
    <li><a href="{{ base_url() }}/{{ prefecture }}">{{ prefecture }}</a></li>
    <li><a href="{{ base_url() }}/{{ prefecture }}/{{ city }}">{{ city }}</a></li>
{% endblock %}

{% block mapArea %}
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="map-card">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <div id="map-canvas"></div>
                    </div>
                    <div class="card-content">
                        <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
                            <i class="mdi-maps-pin-drop"></i>
                        </a>
                        <h4 class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">{{ prefecture }}/{{ city }}</a>
                        </h4>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ prefecture }}/{{ city }}<i class="mdi-navigation-close right"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ base_url() }}/js/city.js"></script>
{% endblock %}