{% extends 'layout.twig' %}

{% block title %}{{ pageLabel }}{% endblock %}

{% block content_link %}
      <li><a href="{{ base_url() }}/{{ prefectureLabel }}">{{ prefectureLabel }}</a></li>
{% endblock %}
{% block centralSection %}
    <div>
        <div class="card-move-up cyan darken-4 waves-effect waves-block waves-light">
            <div class="move-up">
                <h5 class="margin white-text">{{ pageLabel }}</h5>
                <p style="color:white;" class="caption">{{ listing.aboutNear }}</p>
            </div>
            <div class="row">
                <div class="col s12 m6 l6">
                <table class="bordered white-text">
                <tbody>
                    <tr><th>地価区分</th><td>
                    {% if listing.type == 0 %}
                        地価公示
                    {% else %}
                        地価調査
                    {% endif %}
                    </td></tr>
                    <tr><th>標準地番号</th><td>{{ listing.systemNo }}</td></tr>
                    <tr><th>価格(円/m²)</th><td>{{ listing.price }}</td></tr>
                    <tr><th>地積(m²)	</th><td>{{ listing.acreage }}</td></tr>
                    <tr><th>最新年対前年変動率(%)</th><td>{{ listing.changeRate }}</td></tr>
                    <tr><th>最寄駅と駅からの距離</th><td>{{ listing.station }}　{{ listing.distanceFromStation }}m</td></tr>
                    <tr><th>建物構造</th><td>{{ listing.currentUsage }}</td></tr>
                    <tr><th>利用現況</th><td>{{ listing.currentUsage }}</td></tr>
                    <tr><th>給排水状況</th><td>{{ listing.waterLabel }}　{{ listing.gasLabel }}　{{ listing.sewageLabel }}</td></tr>
                    <tr><th>形状</th><td>{{ listing.config }}</td></tr>
                    <tr><th>間口、奥行比率(%)</th><td>{{ listing.frontRatio }}、{{ listing.depthRatio }}</td></tr>
                </tbody>
                </table>
                </div>
                <div class="col s12 m6 l6">
                <table id="searchResult" class="bordered white-text">
                <tbody>
                    <tr><th>地上、地下階層</th><td>{{ listing.numOfFloors }}、{{ listing.numOfBasefloors }}</td></tr>
                    <tr><th>前面道路、方位、幅員(m)</th><td>{{ listing.frontRoads }}、{{ listing.roadDirection }}、{{ listing.roadWidth }}</td></tr>
                    <tr><th>前面道路の駅前状況</th><td>{{ listing.roadFrontStatus }}</td></tr>
                    <tr><th>前面道路の舗装状況</th><td>{{ listing.roadPavement }}</td></tr>
                    <tr><th>側道区分</th><td>{{ listing.sideRoad }}</td></tr>
                    <tr><th>側道方位</th><td>{{ listing.sideRroadDirection }}</td></tr>
                    <tr><th>交通施設との近接状況</th><td>{{ listing.aboutTransportArea }}</td></tr>
                    <tr><th>建ぺい率(%)</th><td>{{ listing.buildCoverage }}</td></tr>
                    <tr><th>容積率(%)</th><td>{{ listing.floorAreaRatio }}</td></tr>
                    <tr><th>都市計画区域区分)</th><td>{{ listing.cityPlan }}</td></tr>
                    <tr><th>備考</th><td>{{ listing.useDesc }}</td></tr>
                </tbody>
                </table>
                </div>
            </div>
        </div>
        <!-- price history trend--->
        <div class="card">
         <div class="card-content green lighten-3">
            <span class="chart-title black-text">地価推移</span>
            <div class="trending-line-chart-wrapper">
                <canvas id="price_history" height="50"></canvas>
            </div>
         </div>
        </div>
            <div class="card-image waves-effect waves-block waves-light">
                <!-- must define the size for a map in this theme -->
                <div id="detail_map" style="float:left;width:50%; height:300px;"></div>
                <div id="detail_pano" style="float:left;width:50%; height:300px;"></div>
            </div>
    </div>
{% endblock %}
{% block leftDropMenu %}
    <ul class="collapsible collapsible-accordion">
        {% for key, area in areas %}
            {% if key == 0 %}
                <li class="bold"><a id="linkArea" class="collapsible-header waves-effect waves-cyan">{{ area }}：地価公示</a>
            {% else %}
                <li class="bold"><a id="linkArea" class="collapsible-header waves-effect waves-cyan">{{ area }}：地価調査</a>
            {% endif %}
                <div class="collapsible-body">
                    <ul>
                     {% for city in leftMenus[key] %}
                       <li><a href="{{ base_url() }}/{{ area }}/{{ city }}">{{ city }}</a></li>
                     {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block rightSection0 %}
    <ol class="breadcrumbs">
        <li><a href="#">周辺地価</a></li>
    </ol>
   {% if aroundUp|length != 0 %}
    <div class="card">
        {% if listing.type == 0 %}
            <div class="card-move-up green darken-1 waves-effect waves-block waves-light">
        {% else %}
            <div class="card-move-up orange darken-4 waves-effect waves-block waves-light">
        {% endif %}
            <div class="move-up">
                <h5 class="margin white-text">地価高いリスト</h5>
            </div>
            <table class="bordered white-text">
                <thead>
                <tr>
                    <th data-field="name">価格(円/m²)</th>
                    <th data-field="rate">前年比</th>
                    <th data-field="price">住所表示</th>
                    <th data-field="tubo_price">最寄駅</th>
                </tr>
                </thead>
                <tbody>
                {% for item  in  aroundUp %}
                    <tr>
                        <td>{{ item.price }}</td>
                        {% if item.changeRate > 0 %}
                            <td>+{{ item.changeRate }}%</td>
                        {% elseif item.changeRate == 0 %}
                            <td>{{ item.changeRate }}%</td>
                        {% else %}
                            <td>-{{ item.changeRate }}%</td>
                        {% endif %}
                        {% if listing.type == 0 %}
                            <td><a href="{{ base_url() }}/item/detail/{{ item.address }}?type=0&price={{ item.price }}&rate={{ item.changeRate }}">{{ item.address }}</a></td>
                        {% else %}
                            <td><a href="{{ base_url() }}/item/detail/{{ item.address }}?type=1&price={{ item.price }}&rate={{ item.changeRate }}">{{ item.address }}</a></td>
                        {% endif %}
                        <td>{{ item.station }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
 {% endif %}
 {% if aroundDown|length != 0 %}
    <div class="card">
        {% if listing.type == 0 %}
            <div class="card-move-up green darken-1 waves-effect waves-block waves-light">
        {% else %}
            <div class="card-move-up orange darken-4 waves-effect waves-block waves-light">
        {% endif %}
            <div class="move-up">
                <h5 class="margin white-text">地価低いリスト</h5>
            </div>
            <table class="bordered white-text">
                <thead>
                <tr>
                    <th data-field="name">価格(円/m²)</th>
                    <th data-field="rate">前年比</th>
                    <th data-field="price">住所表示</th>
                    <th data-field="tubo_price">最寄駅</th>
                </tr>
                </thead>
                <tbody>
                {% for item  in  aroundDown %}
                    <tr>
                        <td>{{ item.price }}</td>
                        {% if item.changeRate > 0 %}
                            <td>+{{ item.changeRate }}%</td>
                        {% elseif item.changeRate == 0 %}
                            <td>{{ item.changeRate }}%</td>
                        {% else %}
                            <td>-{{ item.changeRate }}%</td>
                        {% endif %}
                        {% if listing.type == 0 %}
                            <td><a href="{{ base_url() }}/item/detail/{{ item.address }}?type=0&price={{ item.price }}&rate={{ item.changeRate }}">{{ item.address }}</a></td>
                        {% else %}
                            <td><a href="{{ base_url() }}/item/detail/{{ item.address }}?type=1&price={{ item.price }}&rate={{ item.changeRate }}">{{ item.address }}</a></td>
                        {% endif %}
                        <td>{{ item.station }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
 {% endif %}
 <input type="hidden" id="year" value='{{ historyYear }}'/>
 <input type="hidden" id="price" value='{{ historyPrice }}'/>
 <input type="hidden" id="map_lat" value='{{ listing.lat }}'/>
 <input type="hidden" id="map_lng" value='{{ listing.lng }}'/>
 <input type="hidden" id="price_type" value='{{ listing.type }}'/>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    {# javascript for this page #}
    <script type="text/javascript" src="{{ base_url() }}/js/detail.js"></script>
{% endblock %}