<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="robots" content="all">
    <meta name="robots" content="index,follow,archive">
    <meta name="description" content="毎年、政府に公表された日本全国の地価公示、地価調査データを市町村、用途地域、利用現況から簡単に検索できます、地価推移も一目瞭然！">
    <meta name="keywords" content="地価,地価平均,路線価,市町村,固定資産税,相続税,地価調査,地価公示,地図,マップ,GIS,評価,資産評価,地価推移">
    <meta name="author" content="株式会社AOBO"/>
    <meta name="copyright" content="©株式会社AOBO"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <!-- Facebook Metadata /-->
    <meta property="og:title" content="毎年、政府に公表された日本全国の地価公示、地価調査データを市町村、用途地域、利用現況から簡単に検索できます、地価推移も一目瞭然！"/>
    <meta property="og:url" content="http://landprice.163zd.net/">
    <meta property="og:site_name" content="日本地価情報"/>
    <meta property="og:type" content="website"/>

    <meta property="og:image" content="{{ base_url() }}/img/chikaMap.png"/>
    <!-- Favicon -->
    <link rel="icon" href="{{ base_url() }}/img/chikaMap_32.png" sizes="32x32">
    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" href="{{ base_url() }}/img/chikaMap_152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <!-- For Windows Phone -->

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Let browser know website is optimized for mobile -->
    <title>{% block title %}{% endblock %}</title>

    <!-- CORE CSS-->
    <link href="{{ base_url() }}/css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{ base_url() }}/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->
    <link href="{{ base_url() }}/css/price.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="{{ base_url() }}/css/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{ base_url() }}/css/jquery-jvectormap.css" type="text/css" rel="stylesheet" media="screen,projection">
    <style>
        .aoboAds {width:320px; height:100px;}
        @media(min-width:500px) {.aoboAds {width:468px;height:60px;}}
        @media(min-width:800px) {.aoboAds {width:728px;height:90px;}}　
    </style>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.10&appId=1889001464645371';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START HEADER -->
<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav class="navbar-color">
            <div class="nav-wrapper">
                <ul class="left">
                    <li><h1 class="logo-wrapper"><a href="/" class="brand-logo darken-1"><img src="{{ base_url() }}/img/logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1></li>
                </ul>
                <div class="header-search-wrapper hide-on-med-and-down">
                    <i class="material-icons">search</i>
                    <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="市町村からの住所を入力してください"/>
                </div>
                <ul class="right hide-on-med-and-down">
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown"><span class="language-select">公示・調査</span></a></li>
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="material-icons">settings_overscan</i></a></li>
                    <li><a id="notice_link" href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown"><i class="mdi-social-notifications"><small id="notice_count" class="notification-badge"></small></i></a></li>
                    <li><a href="javascript:void(0);" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse"><i class="material-icons">info</i></a></li>
                </ul>
                <!-- translation-button -->
                <ul id="translation-dropdown" class="dropdown-content">
                    <li class="divider"></li>
                    <li>
                        <a href="#!"><span id="post_survey">公示・調査</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#!"><span id="post">地価公示</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#!"><span id="survey">地価調査</span></a>
                    </li>
                </ul>
                <!-- notifications-dropdown -->
                <ul id="notifications-dropdown" class="dropdown-content">
                    <li class="divider"></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">
            <ul id="slide-out" class="side-nav fixed leftside-navigation">
                <li class="bold active"><a href="/" class="waves-effect waves-cyan"><i class="material-icons">widgets</i>ダッシュボード</a></li>
                <li class="li-hover"><div class="divider"></div></li>
                <li class="no-padding">
                    {% block leftDropMenu %} {% endblock %}
                </li>
                {% block businessMenu %} {% endblock %}
                <!-- LandPriceDetail ADS -->
                <div class="card-panel">
                    <h4>広告募集中</h4>
                </div>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-2770900584946061"
                     data-ad-slot="7377783454"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </ul>
            <!-- show menu on top left and hide the slide bars -->
            <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
        </aside>
        <!-- END LEFT SIDEBAR NAV-->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <section id="content">
            <!--start container-->
            <div class="container">
                <!--chart dashboard start-->
                <div id="chart-dashboard">
                    <div class="row">
                        <div class="col s12 m8 l8">
                            <ol class="breadcrumbs">
                                <li><a href="{{ base_url() }}/">ダッシュボード</a></li>
                                {% block content_link %}{% endblock %}
                            </ol>
                            {% block centralSection %}{% endblock %}
                            <!-- this block is used for different section -->
                            {% block category %}{% endblock %}
                            <!-- Search modal section -->
                            <div class="row">
                                <div class="col s12 m4 l4">
                                    &nbsp;
                                </div>
                                <div class="col s12 m8 l8">
                            <div class="card">
                            <div id="modalSearch" class="modal bottom-sheet">
                                <div class="modal-content">
                                    <a id="modalClose" href="javascript:void(0);" class="waves-effect waves-green btn-flat right modal-action modal-close"><i class="material-icons">close</i></a>
                                    <h6><span id="madal_caption"></span></h6>
                                    <div id="seach_going" class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                    <table id="modal_content" class="bordered black-text">
                                        <thead>
                                        <th>価格(円/m²)</th>
                                        <th>前年比(%)</th>
                                        <th>住所表示</th>
                                        <th>最寄駅</th>
                                        <th>駅から距離(m)</th>
                                        <th>建物構造</th>
                                        <th>利用現況</th>
                                        <th>用途地域</th>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                                </div>
                            </div>
                        </div>
                        <!-- The right 1/3 section area  -->
                        <div class="col s12 m4 l4">
                            <div>
                                {% block rightSection0 %}{% endblock %}
                            </div>
                            {% block googleAds %} {% endblock %}
                            <div>
                                {% block rightSection1 %}{% endblock %}
                            </div>
                        </div>
                    </div>
                    {% block rateArea %} {% endblock %}
                    {% block mapArea %} {% endblock %}
                </div>
                <!--chart dashboard end-->
            </div>
            <!--end container-->
        </section>
        <!-- END CONTENT -->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START RIGHT SIDEBAR NAV-->
        {% set areaNames = ['1低専：第一種低層住居専用地域','2低専：第二種低層住居専用地域','1中専：第一種中高層住居専用地域','2中専：第二種中高層住居専用地域','1住居：第一種住居地域','2住居：第二種住居地域','準住居：準住居地域','近商：近隣商業地域','商業：商業地域','準工：準工業地域','工業：工業地域','工専：工業専用地域','防火：防火地域','準防：準防火地域','調区：市街化調整区域','都計外：都市計画区域外','地森計：地域森林計画対象区域','準都計：準都市計画区域','都市：市街化区域及び市街化調整区域以外の都市計画区域','国立公(普)：国立公園（普通）地域','国定公(普)：国定公園（普通）区域','国立公(2特)：国立公園第二種特別地域','国立公(3特)：国立公園第三種特別地域','国定公(2特)：国定公園第二種特別区域','国定公(3特)：国定公園第三種特別区域'] %}
        <aside id="right-sidebar-nav">
            <ul id="chat-out" class="side-nav rightside-navigation">
                <li class="li-hover">
                    <a href="#" data-activates="chat-out" class="chat-close-collapse right"><i class="material-icons right" style="margin-top:10px;">cancel</i></a>
                </li>
                <li class="li-hover">
                    <ul class="chat-collapsible" data-collapsible="expandable">
                        <li>
                            <div class="collapsible-header teal white-text active">土地価格</div>
                            <div class="collapsible-body recent-activity">
                                <div class="recent-activity-list chat-out-list row">
                                    <div class="col s11 recent-activity-list-text">
                                        <a href="#">地価公示</a>
                                        <p>公示地価とは、国土交通省が全国に定めた地点（標準地といいます）を対象に、毎年1月1日時点の価格を公示するものです。<br>土地の取引価格は公示地価に拘束されませんが、1つの重要な指標として存在します。</p>
                                    </div>
                                </div>
                                <div class="recent-activity-list chat-out-list row">
                                    <div class="col s11 recent-activity-list-text">
                                        <a href="#">地価調査</a>
                                        <p>「基準地価」等とも呼ばれ、公示地価と評価、公表の内容、手順等の類似性が高い。「都道府県地価調査は、地価公示とあわせて一般の土地取引の指標ともなっている」とされている（国交省）。</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header light-blue white-text active">用途地域</div>
                            <div class="collapsible-body sales-repoart">
                                {% for areaName in areaNames %}
                                    <div class="sales-repoart-list  chat-out-list row">
                                        <div class="col s12">{{ areaName }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <!-- LEFT RIGHT SIDEBAR NAV-->
    </div>
    <!-- END WRAPPER -->
</div>
<!-- END MAIN -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START FOOTER -->
<footer class="page-footer">
    <div class="container">
        <div class="row section">
            <div class="col l6 s12">
                <h6 class="white-text">免責事項</h6>
                <p class="grey-text text-lighten-5">当サイトは「 国土数値情報ダウンロードサービス 」のデータを利用しています。</p>
                <p class="grey-text text-lighten-5">当サイト掲載のデータ等を利用するときは官報、公報、国土交通省のホームページ等で内容をご確認ください。当サイト掲載のデータ等を利用することにより生じた利用者又は第三者の損害については、利用者がその全責任を負うものとし、当サイト掲載の全ての法人及び個人は一切の責任を負いません。</p>
                <p class="grey-text text-lighten-5">価格表示について、林地の場合は[円/10a]とする。</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h6 class="white-text">リンク</h6>
                <div><a href='https://play.google.com/store/apps/developer?id=AOBO+Co.,+Ltd&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img style="width:155px; height:100%;" alt='Google Play で手に入れよう' src='https://play.google.com/intl/en_us/badges/images/generic/ja_badge_web_generic.png'/></a></div>
                <div><a href="https://itunes.apple.com/jp/developer/aobo-co-ltd/id310846199"><img  style="margin-left:10px;width:135px;height:40px;" alt='App store で手に入れよう' src="https://linkmaker.itunes.apple.com/assets/shared/badges/ja-jp/appstore-lrg.svg"/></a></div>
                <div style="margin-left: 10px;" class="fb-share-button" data-href="http://landprice.163zd.net/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flandprice.163zd.net%2F&amp;src=sdkpreparse">シェア</a></div>
                <div style="margin:10px;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://landprice.163zd.net">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>
            </div>
        </div>
     </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright © 2017 <a class="grey-text text-lighten-4" href="http://www.aobo-corp.com" target="_blank">AOBO Co., Ltd</a> All rights reserved.
            <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://www.aobo-corp.com">AOBO Co., Ltd</a></span>
        </div>
    </div>
</footer>
<!-- END FOOTER -->
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="{{ base_url() }}/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/js/materialize.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/js/plugins.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/js/chart.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/js/jquery.cookie.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAiRVRkYdBj1J2emeLKjOEKS5Hb4WwCI0" async defer></script>
{% block javascript %}
    {# put common javascript here #}
    <script type="text/javascript" src="{{ base_url() }}/js/site_common.js"></script>
{% endblock %}
<script src="https://apis.google.com/js/platform.js" async defer>
    {lang: 'ja'}
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-57013702-2', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>