<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="robots" content="all">
    <meta name="robots" content="index,follow,archive">
    <meta name="description" content="毎年、政府に公表された地価公示、地価調査データを地図、都道府県、ジャンルから調べることができます。詳細情報、土地価格の遷移も一目瞭然です。">
    <meta name="keywords" content="地価,路線価,固定資産税,相続税,地価調査,地価公示,地図,マップ,GIS,評価,資産評価">
    <meta name="author" content="株式会社AOBO"/>
    <meta name="copyright" content="©株式会社AOBO"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <!-- Facebook Metadata /-->
    <meta property="og:title" content="政府に公表された地価公示、地価調査データを地図、都道府県、ジャンルから調べることができます"/>
    <meta property="og:url" content="http://chika.163zd.net/">
    <meta property="og:site_name" content="日本全国地価情報"/>
    <meta property="og:type" content="website"/>

    <meta property="og:image" content="{{ base_url() }}/img/chikaMap.png"/>
    <!-- Favicon -->
    <link rel="icon" href="{{ base_url() }}/img/chikaMap_32.png" sizes="32x32">
    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" href="{{ base_url() }}/img/chikaMap_152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <!-- For Windows Phone -->

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Let browser know website is optimized for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}{% endblock %}</title>

    <!-- CORE CSS-->
    <link href="{{ base_url() }}/css/materializecss-icon.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{ base_url() }}/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">

    <link href="{{ base_url() }}/css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->
    <link href="{{ base_url() }}/css/custom.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="{{ base_url() }}/css/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{ base_url() }}/css/jquery-jvectormap.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{ base_url() }}/css/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <style>
        .aoboAds {width:320px; height:100px;}
        @media(min-width:500px) {.aoboAds {width:468px;height:60px;}}
        @media(min-width:800px) {.aoboAds {width:728px;height:90px;}}　
    </style>
</head>
<body>
<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START HEADER -->
<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav class="navbar-color">
            <div class="nav-wrapper">
                <ul class="left">
                    <li><h1 class="logo-wrapper"><a href="/" class="brand-logo darken-1"><img src="{{ base_url() }}/img/logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1></li>
                </ul>
                <div class="header-search-wrapper hide-on-med-and-down">
                    <i class="material-icons">search</i>
                    <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="市町村からの住所を入力してください"/>
                </div>
                <ul class="right hide-on-med-and-down">
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown"><span class="language-select">公示・調査</span></a></li>
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="material-icons">settings_overscan</i></a></li>
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown"><i class="mdi-social-notifications"><small class="notification-badge">5</small></i></a></li>
                    <li><a href="javascript:void(0);" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse"><i class="mdi-communication-chat"></i></a></li>
                </ul>
                <!-- translation-button -->
                <ul id="translation-dropdown" class="dropdown-content">
                    <li class="divider"></li>
                    <li>
                        <a href="#!"><span id="post_survey">公示・調査</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#!"><span id="post">地価公示</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#!"><span id="survey">地価調査</span></a>
                    </li>
                </ul>
                <!-- notifications-dropdown -->
                <ul id="notifications-dropdown" class="dropdown-content">
                    <li>
                        <h5>NOTIFICATIONS <span class="new badge">5</span></h5>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#!"><i class="mdi-action-add-shopping-cart"></i> A new order has been placed!</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
                    </li>
                    <li>
                        <a href="#!"><i class="mdi-action-stars"></i> Completed the task</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
                    </li>
                    <li>
                        <a href="#!"><i class="mdi-action-settings"></i> Settings updated</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
                    </li>
                    <li>
                        <a href="#!"><i class="mdi-editor-insert-invitation"></i> Director meeting started</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
                    </li>
                    <li>
                        <a href="#!"><i class="mdi-action-trending-up"></i> Generate monthly report</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">
            <ul id="slide-out" class="side-nav fixed leftside-navigation">
                <li class="bold active"><a href="/" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a></li>
                <li class="li-hover"><div class="divider"></div></li>
                <li class="no-padding">
                    {% block leftDropMenu %} {% endblock %}
                </li>
                {% block businessMenu %} {% endblock %}
                <!-- LandPriceDetail ADS -->
                <div class="card-panel">
                    <h4>広告募集中</h4>
                </div>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-2770900584946061"
                     data-ad-slot="7377783454"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </ul>
            <!-- show menu on top left and hide the slide bars -->
            <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
        </aside>
        <!-- END LEFT SIDEBAR NAV-->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <section id="content">
            <!--start container-->
            <div class="container">
                <!--chart dashboard start-->
                <div id="chart-dashboard">
                    <div class="row">
                        <div class="col s12 m8 l8">
                            <ol class="breadcrumbs">
                                <li><a href="{{ base_url() }}/">Dashboard</a></li>
                                {% block content_link %}{% endblock %}
                            </ol>
                            {% block centralSection %}{% endblock %}
                            <!-- this block is used for different section -->
                            {% block category %}{% endblock %}
                            <!-- Search modal section -->
                            <div class="card">
                            <div id="modalSearch" class="modal bottom-sheet">
                                <div class="modal-content">
                                    <a id="modalClose" href="javascript:void(0);" class="waves-effect waves-green btn-flat right modal-action modal-close"><i class="material-icons">close</i></a>
                                    <h4><span id="madal_caption"></span></h4>
                                    <div id="seach_going" class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                    <table id="modal_content" class="bordered white-text">
                                        <thead>
                                        <th>価格(円/m²)</th>
                                        <th>前年比(%)</th>
                                        <th>住所表示</th>
                                        <th>最寄駅</th>
                                        <th>駅から距離(m)</th>
                                        <th>建物構造</th>
                                        <th>利用現況</th>
                                        <th>用途地域</th>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- The right 1/3 section area  -->
                        <div class="col s12 m4 l4">
                            <div>
                                {% block rightSection0 %}{% endblock %}
                            </div>
                            {% block googleAds %} {% endblock %}
                            <div>
                                {% block rightSection1 %}{% endblock %}
                            </div>
                        </div>
                    </div>
                    {% block rateArea %} {% endblock %}
                    {% block mapArea %} {% endblock %}
                </div>
                <!--chart dashboard end-->
            </div>
            <!--end container-->
        </section>
        <!-- END CONTENT -->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START RIGHT SIDEBAR NAV-->
        {% set areaNames = ['1低専：第一種低層住居専用地域','2低専：第二種低層住居専用地域','1中専：第一種中高層住居専用地域','2中専：第二種中高層住居専用地域','1住居：第一種住居地域','2住居：第二種住居地域','準住居：準住居地域','近商：近隣商業地域','商業：商業地域','準工：準工業地域','工業：工業地域','工専：工業専用地域','防火：防火地域','準防：準防火地域','調区：市街化調整区域','都計外：都市計画区域外','地森計：地域森林計画対象区域','準都計：準都市計画区域','都市：市街化区域及び市街化調整区域以外の都市計画区域','国立公(普)：国立公園（普通）地域','国定公(普)：国定公園（普通）区域','国立公(2特)：国立公園第二種特別地域','国立公(3特)：国立公園第三種特別地域','国定公(2特)：国定公園第二種特別区域','国定公(3特)：国定公園第三種特別区域'] %}
        <aside id="right-sidebar-nav">
            <ul id="chat-out" class="side-nav rightside-navigation">
                <li class="li-hover">
                    <a href="#" data-activates="chat-out" class="chat-close-collapse right"><i class="mdi-navigation-close"></i></a>
                </li>
                <li class="li-hover">
                    <ul class="chat-collapsible" data-collapsible="expandable">
                        <li>
                            <div class="collapsible-header teal white-text active">土地価格</div>
                            <div class="collapsible-body recent-activity">
                                <div class="recent-activity-list chat-out-list row">
                                    <div class="col s11 recent-activity-list-text">
                                        <a href="#">地価公示</a>
                                        <p>公示地価とは、国土交通省が全国に定めた地点（標準地といいます）を対象に、毎年1月1日時点の価格を公示するものです。<br>土地の取引価格は公示地価に拘束されませんが、1つの重要な指標として存在します。</p>
                                    </div>
                                </div>
                                <div class="recent-activity-list chat-out-list row">
                                    <div class="col s11 recent-activity-list-text">
                                        <a href="#">地価調査</a>
                                        <p>「基準地価」等とも呼ばれ、公示地価と評価、公表の内容、手順等の類似性が高い。「都道府県地価調査は、地価公示とあわせて一般の土地取引の指標ともなっている」とされている（国交省）。</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header light-blue white-text active">用途地域</div>
                            <div class="collapsible-body sales-repoart">
                                {% for areaName in areaNames %}
                                    <div class="sales-repoart-list  chat-out-list row">
                                        <div class="col s12">{{ areaName }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <!-- LEFT RIGHT SIDEBAR NAV-->
    </div>
    <!-- END WRAPPER -->
</div>
<!-- END MAIN -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START FOOTER -->
<footer class="page-footer">
    <div class="container">
        <div class="row section">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright © 2017 <a class="grey-text text-lighten-4" href="http://www.aobo-corp.com" target="_blank">AOBO Co., Ltd</a> All rights reserved.
            <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://www.aobo-corp.com">AOBO Co., Ltd</a></span>
        </div>
    </div>
</footer>
<!-- END FOOTER -->
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="{{ base_url() }}/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/js/materialize.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/js/plugins.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/js/chart.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAiRVRkYdBj1J2emeLKjOEKS5Hb4WwCI0" async defer></script>
{% block javascript %}
    {# put common javascript here #}
    <script type="text/javascript" src="{{ base_url() }}/js/site_common.js"></script>
{% endblock %}
</body>
</html>