<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="robots" content="all">
    <meta name="robots" content="index,follow,archive">
    <meta name="description" content="毎年、政府に公表された地価公示、地価調査データを地図、都道府県、ジャンルから調べることができます。詳細情報、土地価格の遷移も一目瞭然です。">
    <meta name="keywords" content="地価,路線価,固定資産税,相続税,地価調査,地価公示,地図,マップ,GIS,評価,資産評価">
    <meta name="author" content="株式会社AOBO"/>
    <meta name="copyright" content="©株式会社AOBO"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <!-- Facebook Metadata /-->
    <meta property="og:title" content="政府に公表された地価公示、地価調査データを地図、都道府県、ジャンルから調べることができます"/>
    <meta property="og:url" content="http://chika.163zd.net/">
    <meta property="og:site_name" content="日本全国地価情報"/>
    <meta property="og:type" content="website"/>

    <meta property="og:image" content="{{ base_url() }}/img/chikaMap.png"/>
    <!-- Favicon -->
    <link rel="icon" href="{{ base_url() }}/img/chikaMap_32.png" sizes="32x32">
    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" href="{{ base_url() }}/img/chikaMap_152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <!-- For Windows Phone -->

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Let browser know website is optimized for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}{% endblock %}</title>

    <!-- CORE CSS-->
    <link href="{{ base_url() }}/css/materializecss-icon.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{ base_url() }}/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">

    <link href="{{ base_url() }}/css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->
    <link href="{{ base_url() }}/css/custom.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="{{ base_url() }}/css/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{ base_url() }}/css/jquery-jvectormap.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{ base_url() }}/css/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>
<body>
<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START HEADER -->
<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav class="navbar-color">
            <div class="nav-wrapper">
                <ul class="left">
                    <li><h1 class="logo-wrapper"><a href="/" class="brand-logo darken-1"><img src="{{ base_url() }}/img/logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1></li>
                </ul>
                <div class="header-search-wrapper hide-on-med-and-down">
                    <i class="mdi-action-search"></i>
                    <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize"/>
                </div>
                <ul class="right hide-on-med-and-down">
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown"><span class="language-select">公示＆調査</span></a></li>
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="material-icons">settings_overscan</i></a></li>
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown"><i class="mdi-social-notifications"><small class="notification-badge">5</small></i></a></li>
                    <li><a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse"><i class="mdi-communication-chat"></i></a></li>
                </ul>
                <!-- translation-button -->
                <ul id="translation-dropdown" class="dropdown-content">
                    <li>
                        <a href="#!"><span class="language-select">公示＆調査</span></a>
                    </li>
                    <li>
                        <a href="#!"><span class="language-select">地価公示</span></a>
                    </li>
                    <li>
                        <a href="#!"><span class="language-select">地価調査</span></a>
                    </li>
                </ul>
                <!-- notifications-dropdown -->
                <ul id="notifications-dropdown" class="dropdown-content">
                    <li>
                        <h5>NOTIFICATIONS <span class="new badge">5</span></h5>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#!"><i class="mdi-action-add-shopping-cart"></i> A new order has been placed!</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
                    </li>
                    <li>
                        <a href="#!"><i class="mdi-action-stars"></i> Completed the task</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
                    </li>
                    <li>
                        <a href="#!"><i class="mdi-action-settings"></i> Settings updated</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
                    </li>
                    <li>
                        <a href="#!"><i class="mdi-editor-insert-invitation"></i> Director meeting started</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
                    </li>
                    <li>
                        <a href="#!"><i class="mdi-action-trending-up"></i> Generate monthly report</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">
            <ul id="slide-out" class="side-nav fixed leftside-navigation">
                <li class="bold active"><a href="/" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a></li>
                <li class="li-hover"><div class="divider"></div></li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        {% for key, area in areas %}
                        <li class="bold"><a id="linkArea" class="collapsible-header waves-effect waves-cyan">{{ area }}</a>
                            <div class="collapsible-body">
                                <ul>
                                    {% for pref in leftMenus[key] %}
                                    <li><a href="{{ base_url() }}/{{ pref }}">{{ pref }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="li-hover"><div class="divider"></div></li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header waves-effect waves-cyan">利用現況</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="angular-ui.html">住宅<span class="new badge"></span></a></li>
                                    <li><a href="css-grid.html">店舗</a></li>
                                    <li><a href="css-color.html">事務所</a></li>
                                    <li><a href="css-helpers.html">銀行</a></li>
                                    <li><a href="changelogs.html">旅館</a></li>
                                    <li><a href="angular-ui.html">給油所<span class="new badge"></span></a></li>
                                    <li><a href="css-grid.html">店舗</a></li>
                                    <li><a href="css-color.html">工場</a></li>
                                    <li><a href="css-helpers.html">倉庫</a></li>
                                    <li><a href="changelogs.html">農地</a></li>
                                    <li><a href="css-color.html">山林</a></li>
                                    <li><a href="css-helpers.html">医院</a></li>
                                    <li><a href="changelogs.html">空地</a></li>
                                    <li><a href="angular-ui.html">作業場<span class="new badge"></span></a></li>
                                    <li><a href="css-grid.html">原野</a></li>
                                    <li><a href="css-color.html">用材</a></li>
                                    <li><a href="css-helpers.html">雑木</a></li>
                                    <li><a href="changelogs.html">その他</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="li-hover"><div class="divider"></div></li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header waves-effect waves-cyan">用途地域</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="angular-ui.html">第一種低層住居専用</a></li>
                                    <li><a href="css-grid.html">第二種低層住居専用</a></li>
                                    <li><a href="css-color.html">第一種中高層住居専用</a></li>
                                    <li><a href="css-helpers.html">第二種中高層住居専用</a></li>
                                    <li><a href="changelogs.html">第一種住居地域</a></li>
                                    <li><a href="angular-ui.html">第二種住居地域</a></li>
                                    <li><a href="css-grid.html">準住居地域</a></li>
                                    <li><a href="css-color.html">近隣商業地域</a></li>
                                    <li><a href="css-helpers.html">商業地域</a></li>
                                    <li><a href="changelogs.html">準工業地域</a></li>
                                    <li><a href="css-color.html">工業地域</a></li>
                                    <li><a href="css-helpers.html">工業専用地域</a></li>
                                    <li><a href="changelogs.html">防火地域</a></li>
                                    <li><a href="angular-ui.html">準防火地域<span class="new badge"></span></a></li>
                                    <li><a href="css-grid.html">市街化調整区域</a></li>
                                    <li><a href="css-color.html">都市計画区域</a></li>
                                    <li><a href="css-helpers.html">都市計画区域外</a></li>
                                    <li><a href="changelogs.html">準都市計画区域</a></li>
                                    <li><a href="changelogs.html">森林計画対象区域</a></li>
                                    <li><a href="changelogs.html">国立公園（普通）</a></li>
                                    <li><a href="changelogs.html">国立公園第二種特別</a></li>
                                    <li><a href="changelogs.html">国立公園第三種特別</a></li>
                                    <li><a href="changelogs.html">国定公園（普通）</a></li>
                                    <li><a href="changelogs.html">国定公園第二種特別</a></li>
                                    <li><a href="changelogs.html">国定公園第三種特別</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- show menu on top left and hide the slide bars -->
            <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
        </aside>
        <!-- END LEFT SIDEBAR NAV-->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <section id="content">
            <!--start container-->
            <div class="container">
                <!--chart dashboard start-->
                <div id="chart-dashboard">
                    <div class="row">
                        <div class="col s12 m8 l8">
                            <ol class="breadcrumbs">
                                <li><a href="/">Dashboard</a></li>
                                <li><a href="#">{% block price_target %}{% endblock %}</a></li>
                            </ol>
                            <div class="card">
                                <div class="card-move-up waves-effect waves-block waves-light">
                                    <div class="move-up green lighten-3">
                                        <div>
                                            <span class="chart-title black-text">地価公示</span>
                                        </div>
                                        <div class="card-action">
                                            <canvas id="post_price_trending" height="100" class="center-align"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <a class="btn-floating btn-move-up waves-effect waves-light darken-2 right"><i class="mdi-content-add activator"></i></a>
                                    <span class="chart-title black-text">地価調査</span>
                                    <div class="trending-line-chart-wrapper">
                                        <canvas id="survey_price_trendding" height="100"></canvas>
                                    </div>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Revenue by Month <i class="mdi-navigation-close right"></i></span>
                                    <table class="responsive-table">
                                        <thead>
                                        <tr>
                                            <th data-field="id">ID</th>
                                            <th data-field="month">Month</th>
                                            <th data-field="item-sold">Item Sold</th>
                                            <th data-field="item-price">Item Price</th>
                                            <th data-field="total-profit">Total Profit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>January</td>
                                            <td>122</td>
                                            <td>100</td>
                                            <td>$122,00.00</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>February</td>
                                            <td>122</td>
                                            <td>100</td>
                                            <td>$122,00.00</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>March</td>
                                            <td>122</td>
                                            <td>100</td>
                                            <td>$122,00.00</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>April</td>
                                            <td>122</td>
                                            <td>100</td>
                                            <td>$122,00.00</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>May</td>
                                            <td>122</td>
                                            <td>100</td>
                                            <td>$122,00.00</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>June</td>
                                            <td>122</td>
                                            <td>100</td>
                                            <td>$122,00.00</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>July</td>
                                            <td>122</td>
                                            <td>100</td>
                                            <td>$122,00.00</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>August</td>
                                            <td>122</td>
                                            <td>100</td>
                                            <td>$122,00.00</td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>Septmber</td>
                                            <td>122</td>
                                            <td>100</td>
                                            <td>$122,00.00</td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>Octomber</td>
                                            <td>122</td>
                                            <td>100</td>
                                            <td>$122,00.00</td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>November</td>
                                            <td>122</td>
                                            <td>100</td>
                                            <td>$122,00.00</td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>December</td>
                                            <td>122</td>
                                            <td>100</td>
                                            <td>$122,00.00</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m4 l4">
                            <ol class="breadcrumbs">
                                <li><a href="#">駅周辺地価ランキング</a></li>
                                <li><a href="#">{% block price_station %}{% endblock %}</a></li>
                            </ol>
                            <div class="card">
                                <div class="card-move-up teal lighten-2 waves-effect waves-block waves-light">
                                    <div class="move-up">
                                        <p class="margin white-text">高価格ランキング　トップ10</p>
                                    </div>
                                    <table class="bordered white-text">
                                        <thead>
                                         <tr>
                                            <th data-field="id">順位</th>
                                            <th data-field="name">駅名</th>
                                            <th data-field="price">地価平均</th>
                                            <th data-field="tubo_price">坪単価平均</th>
                                            <th data-field="rate">前年比</th>
                                         </tr>
                                        </thead>
                                        <tbody>
                                        {% for station  in  stationTop %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ station.station }}</td>
                                                <td>{{ station.price }}</td>
                                                <td>{{ station.priceOfTubo }}</td>
                                                {% if station.changeRate > 0 %}
                                                    <td>+{{ station.changeRate }}%</td>
                                                {% else %}
                                                    <td>-{{ station.changeRate }}%</td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-move-up teal lighten-2 waves-effect waves-block waves-light">
                                    <div class="move-up">
                                        <p class="margin white-text">低価格ランキング　トップ10</p>
                                    </div>
                                    <table class="bordered white-text">
                                        <thead>
                                        <tr>
                                            <th data-field="id">順位</th>
                                            <th data-field="name">駅名</th>
                                            <th data-field="price">地価平均</th>
                                            <th data-field="tubo_price">坪単価平均</th>
                                            <th data-field="rate">前年比</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for station  in  stationTop %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ station.station }}</td>
                                                <td>{{ station.price }}</td>
                                                <td>{{ station.priceOfTubo }}</td>
                                                {% if station.changeRate > 0 %}
                                                    <td>+{{ station.changeRate }}%</td>
                                                {% else %}
                                                    <td>-{{ station.changeRate }}%</td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--chart dashboard end-->
                <!-- //////////////////////////////////////////////////////////////////////////// -->
                <!--card stats start-->
                <div id="card-stats">
                </div>
                <!-- Floating Action Button -->
                <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
                    <a class="btn-floating btn-large">
                        <i class="mdi-action-stars"></i>
                    </a>
                    <ul>
                        <li><a href="css-helpers.html" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
                        <li><a href="app-widget.html" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
                        <li><a href="app-calendar.html" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
                        <li><a href="app-email.html" class="btn-floating blue"><i class="large mdi-communication-email"></i></a></li>
                    </ul>
                </div>
                <!-- Floating Action Button -->
            </div>
            <!--end container-->
        </section>
        <!-- END CONTENT -->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START RIGHT SIDEBAR NAV-->
        <aside id="right-sidebar-nav">
            <ul id="chat-out" class="side-nav rightside-navigation">
                <li class="li-hover">
                    <a href="#" data-activates="chat-out" class="chat-close-collapse right"><i class="mdi-navigation-close"></i></a>
                    <div id="right-search" class="row">
                        <form class="col s12">
                            <div class="input-field">
                                <i class="mdi-action-search prefix"></i>
                                <input id="icon_prefix" type="text" class="validate">
                                <label for="icon_prefix">Search</label>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="li-hover">
                    <ul class="chat-collapsible" data-collapsible="expandable">
                        <li>
                            <div class="collapsible-header teal white-text active"><i class="mdi-social-whatshot"></i>Recent Activity</div>
                            <div class="collapsible-body recent-activity">
                                <div class="recent-activity-list chat-out-list row">
                                    <div class="col s3 recent-activity-list-icon"><i class="mdi-action-add-shopping-cart"></i>
                                    </div>
                                    <div class="col s9 recent-activity-list-text">
                                        <a href="#">just now</a>
                                        <p>Jim Doe Purchased new equipments for zonal office.</p>
                                    </div>
                                </div>
                                <div class="recent-activity-list chat-out-list row">
                                    <div class="col s3 recent-activity-list-icon"><i class="mdi-device-airplanemode-on"></i>
                                    </div>
                                    <div class="col s9 recent-activity-list-text">
                                        <a href="#">Yesterday</a>
                                        <p>Your Next flight for USA will be on 15th August 2015.</p>
                                    </div>
                                </div>
                                <div class="recent-activity-list chat-out-list row">
                                    <div class="col s3 recent-activity-list-icon"><i class="mdi-action-settings-voice"></i>
                                    </div>
                                    <div class="col s9 recent-activity-list-text">
                                        <a href="#">5 Days Ago</a>
                                        <p>Natalya Parker Send you a voice mail for next conference.</p>
                                    </div>
                                </div>
                                <div class="recent-activity-list chat-out-list row">
                                    <div class="col s3 recent-activity-list-icon"><i class="mdi-action-store"></i>
                                    </div>
                                    <div class="col s9 recent-activity-list-text">
                                        <a href="#">Last Week</a>
                                        <p>Jessy Jay open a new store at S.G Road.</p>
                                    </div>
                                </div>
                                <div class="recent-activity-list chat-out-list row">
                                    <div class="col s3 recent-activity-list-icon"><i class="mdi-action-settings-voice"></i>
                                    </div>
                                    <div class="col s9 recent-activity-list-text">
                                        <a href="#">5 Days Ago</a>
                                        <p>Natalya Parker Send you a voice mail for next conference.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header light-blue white-text active"><i class="mdi-editor-attach-money"></i>Sales Repoart</div>
                            <div class="collapsible-body sales-repoart">
                                <div class="sales-repoart-list  chat-out-list row">
                                    <div class="col s8">Target Salse</div>
                                    <div class="col s4"><span id="sales-line-1"></span>
                                    </div>
                                </div>
                                <div class="sales-repoart-list chat-out-list row">
                                    <div class="col s8">Payment Due</div>
                                    <div class="col s4"><span id="sales-bar-1"></span>
                                    </div>
                                </div>
                                <div class="sales-repoart-list chat-out-list row">
                                    <div class="col s8">Total Delivery</div>
                                    <div class="col s4"><span id="sales-line-2"></span>
                                    </div>
                                </div>
                                <div class="sales-repoart-list chat-out-list row">
                                    <div class="col s8">Total Progress</div>
                                    <div class="col s4"><span id="sales-bar-2"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header red white-text"><i class="mdi-action-stars"></i>Favorite Associates</div>
                            <div class="collapsible-body favorite-associates">
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img src="{{ base_url() }}/img/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image"></div>
                                    <div class="col s8">
                                        <p>Eileen Sideways</p>
                                        <p class="place">Los Angeles, CA</p>
                                    </div>
                                </div>
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img src="{{ base_url() }}/img/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Zaham Sindil</p>
                                        <p class="place">San Francisco, CA</p>
                                    </div>
                                </div>
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img src="{{ base_url() }}/img/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Renov Leongal</p>
                                        <p class="place">Cebu City, Philippines</p>
                                    </div>
                                </div>
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img src="{{ base_url() }}/img/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Weno Carasbong</p>
                                        <p>Tokyo, Japan</p>
                                    </div>
                                </div>
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img src="{{ base_url() }}/img/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Nusja Nawancali</p>
                                        <p class="place">Bangkok, Thailand</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <!-- LEFT RIGHT SIDEBAR NAV-->
    </div>
    <!-- END WRAPPER -->
</div>
<!-- END MAIN -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START FOOTER -->
<footer class="page-footer">
    <div class="container">
        <div class="row section">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright © 2017 <a class="grey-text text-lighten-4" href="http://www.aobo-corp.com" target="_blank">AOBO Co., Ltd</a> All rights reserved.
            <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://www.aobo-corp.com">AOBO Co., Ltd</a></span>
        </div>
    </div>
</footer>
<!-- END FOOTER -->
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="js/plugins.min.js"></script>
<script type="text/javascript" src="js/chart.min.js"></script>
<script src="http://js.api.olp.yahooapis.jp/OpenLocalPlatform/V1/jsapi?appid=bvmPo3axg64fHgqVn6AemhUN60KOyTMPT3K1YYn9NmdpjEzTMTYOQ0UWXGIqz1c-" type="text/javascript" charset="UTF-8"></script>
{% block javascript %}
    {# put common javascript here #}
    <script type="text/javascript" src="js/site_common.js"></script>
{% endblock %}
</body>
</html>