{% extends 'layout.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block content_link %}
    <li><a href="{{ base_url() }}/{{ stationLabel }}">{{ stationLabel }}</a></li>
{% endblock %}
{% block centralSection %}
    <div class="card">
        <div class="card-move-up cyan darken-4 waves-effect waves-block waves-light">
            <div class="move-up">
                <h5 class="margin white-text">{{ station }}駅周辺{{ priceType }}</h5>
            </div>
            <table class="bordered white-text">
                <thead>
                <th data-field="id">順位</th>
                <th data-field="price">価格(円/m²)</th>
                <th data-field="rate">前年比(%)</th>
                <th data-field="place">住所表示</th>
                <th data-field="station">最寄駅</th>
                <th data-field="distance">駅から距離(m)</th>
                <th data-field="structure">建物構造</th>
                <th data-field="usage">利用現況</th>
                <th data-field="cityPlan">用途地域</th>
                </thead>
                <tbody>
                {% for listing in listings %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ listing.price }}</td>
                        {% if listing.changeRate != null %}
                            <td>{{ listing.changeRate }}%</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td><a href="{{ base_url() }}/detail/survey/{{ listing.address }}">{{ listing.address }}</a></td>
                        <td>{{ listing.station }}</td>
                        <td>{{ listing.distanceFromStation }}</td>
                        <td>{{ listing.structure }}</td>
                        <td>{{ listing.currentUsage }}</td>
                        <td>{{ listing.cityPlan }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block businessMenu %}
    <div id="postBusinessMenu">
        {% for key, option in options %}
            <li class="li-hover">
                <div class="divider"></div>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header waves-effect waves-cyan">{{ option }}</a>
                        <div class="collapsible-body">
                            <ul>
                                {% for menu in optionMenus[key] %}
                                    <li><a href="{{ base_url() }}/list/postUsage/{{ area }}/{{ menu }}">{{ menu }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        {% endfor %}
{% endblock %}
{% block leftDropMenu %}
    <ul class="collapsible collapsible-accordion">
        {% for key, area in areas %}
            <li class="bold"><a id="linkArea" class="collapsible-header waves-effect waves-cyan">{{ area }}</a>
                <div class="collapsible-body">
                    <ul>
                        {% if areas|length == 1 %}
                            {% for city in leftMenus[key] %}
                                <li><a href="{{ base_url() }}/{{ area }}/{{ city }}">{{ city }}</a></li>
                            {% endfor %}
                        {% else %}
                            {% for pref in leftMenus[key] %}
                                <li><a href="{{ base_url() }}/{{ pref }}">{{ pref }}</a></li>
                            {% endfor %}
                        {% endif %}

                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block rightSection0 %}
    <ol class="breadcrumbs">
        <li><a href="#">駅周辺地価ランキング</a></li>
        <li><a href="#">{% block price_station %}{{ stationLabel }}{% endblock %}</a></li>
    </ol>
    <div class="card">
        <div class="card-move-up green darken-1 waves-effect waves-block waves-light">
            <div class="move-up">
                <h5 class="margin white-text">地価公示・高価格ランキング</h5>
            </div>
            <table class="bordered white-text">
                <thead>
                <tr>
                    <th data-field="id">順位</th>
                    <th data-field="name">駅名</th>
                    <th data-field="price">地価平均(円/m²)</th>
                    <th data-field="tubo_price">坪単価平均(円/坪)</th>
                    <th data-field="rate">前年比</th>
                </tr>
                </thead>
                <tbody>
                {% for station  in  stationTop %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ base_url() }}/list/stationPost/{{ station.station }}/"><strong>{{ station.station }}</strong></a></td>
                        <td>{{ station.price }}</td>
                        <td>{{ station.priceOfTubo }}</td>
                        {% if station.changeRate > 0 %}
                            <td>+{{ station.changeRate }}%</td>
                        {% elseif station.changeRate == 0 %}
                            <td>{{ station.changeRate }}%</td>
                        {% else %}
                            <td>-{{ station.changeRate }}%</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
 {% if stationLow != null %}
    <div class="card">
        <div class="card-move-up green darken-1 waves-effect waves-block waves-light">
            <div class="move-up">
                <h5 class="margin white-text">地価公示・低価格ランキング</h5>
            </div>
            <table class="bordered white-text">
                <thead>
                <tr>
                    <th data-field="id">順位</th>
                    <th data-field="name">駅名</th>
                    <th data-field="price">地価平均(円/m²)</th>
                    <th data-field="tubo_price">坪単価平均(円/坪)</th>
                    <th data-field="rate">前年比</th>
                </tr>
                </thead>
                <tbody>
                {% for station  in  stationLow %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ base_url() }}/list/stationPost/{{ station.station }}/"><strong>{{ station.station }}</strong></a></td>
                        <td>{{ station.price }}</td>
                        <td>{{ station.priceOfTubo }}</td>
                        {% if station.changeRate > 0 %}
                            <td>+{{ station.changeRate }}%</td>
                        {% elseif station.changeRate == 0 %}
                            <td>{{ station.changeRate }}%</td>
                        {% else %}
                            <td>-{{ station.changeRate }}%</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
 {% endif %}
{% endblock %}
{% block googleAds %}
    <div class="card">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- LandPriceTop -->
        <ins class="adsbygoogle aoboAds"
             style="display:inline-block"
             data-ad-client="ca-pub-2770900584946061"
             data-ad-slot="5901050259"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
{% endblock %}